.input-field::-webkit-input-placeholder {
  font-style: italic;
}

.input-field:-moz-placeholder {
  font-style: italic;
}

.input-field::-moz-placeholder {
  font-style: italic;
}

.input-field:-ms-input-placeholder {
  font-style: italic;
}
