.todos-container {
  max-width: 600px !important;
}

.todo-list {
  max-height: 70vh;
}

.todo-item:hover {
  cursor: pointer;
}

.todo-item:hover > * {
  cursor: pointer;
}

.btn-link {
  text-decoration: none !important;
}

.tab-content {
  display: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}
